html, body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

h1{ 
    color: #93afc1;
    margin-bottom: 10px;
    font-size: 20px;
}

i{
    font-size: 15px;
    cursor: pointer;
}

.liked{
    color: purple;
}

.retweeted {
    color: lightcoral;
}

main, header{
    width: 290px;
    margin: 0 auto;
}

header{
    padding-bottom: 25px;
}

.tweet-input-area {
    display: flex;
    gap: 10px;
}

textarea{
    border: none;
    padding: 10px;
    margin: 0 0 20px 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

button{
    background-color: #94c6e5;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.tweet{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0;
    width: 100%;
    margin: 15px 0;
}

.tweet-inner{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details{
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160;
}

.tweet-detail{
    display: flex;
    gap: 4px;
}

.tweet-reply{
    border-top: 1px solid lightgray;
    padding: 20px 0 0 0px;
    margin: 10px 0 10px 40px;
    width: 80%;
}

.handle{
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text{
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

.profile-picture{
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.hidden{
    display: none;
}