html, body {
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

h1 {
    color: #93afc1;
    margin-bottom: 10px;
    font-size: 20px;
}

i {
    font-size: 15px;
    cursor: pointer;
}

.fa-solid {
    color: #999;
}

.liked {
    color: purple;
}

.retweeted {
    color: lightcoral;
}

main, header {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
}

.tweet-input-area {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

textarea {
    border: none;
    padding: 10px;
    margin: 0;
    height: 60px;
    width: 100%;
    font-size: 20px;
    line-height: 30px;
    resize: none;
}

button {
    background-color: #94c6e5;
    border: none;
    color: white;
    padding: 10px 19px;
    border-radius: 20px;
    width: 100%;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}

.tweet {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    margin-bottom: 20px;
}

.tweet-inner {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.tweet-details {
    display: flex;
    font-size: 13px;
    justify-content: space-between;
    width: 160px;
}

.tweet-detail {
    display: flex;
    gap: 4px;
}

.tweet-replies {
    border-top: 1px solid lightgray;
    padding-top: 20px;
    margin-left: 40px;
}

.handle {
    font-size: 12px;
    font-weight: 500;
    color: #555;
    margin-top: 0;
}

.tweet-text {
    width: 207px;
    font-size: 14px;
    line-height: 20px;
}

.profile-picture {
    border: 1px solid lightgray;
    border-radius: 50%;
    width: 48px;
}

.hidden {
    display: none;
}
